.idea/
.vscode/
build/
pkg/codegen/*.bril
pkg/codegen/*.ll
pkg/codegen/out/
pkg/codegen/backend/build/
pkg/codegen/backend/.idea/
pkg/codegen/backend/*.ll
bin/
pkg/codegen/backend/include/proto/*.pb.*
pkg/codegen/serializer/*.pb.*